.table-fluid {
  display: flex;
  gap: 20px;
  align-items: center;
}

.input-fluid {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {}

.input {}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.resalt-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resalt-title {}

.resalt {
  border: 1px solid black;
  padding
}